header {
    background: #FFEB3B;
    border-top: none;
}

header .navbar {
    background-color: inherit;
    height: 300px;
    color: #212121;
}

header a.navbar-brand {
    color: #212121 !important;
    font-weight: bold;
}

header .navbar .title a{
    color: #212121;
    font-size: 35px;
}

header .navbar .title {
    padding-top: 90px;
}

header .searchBtn {
    float: right;
}