header {
    border-top: none;
}

.header-bg {
    position: absolute;
    top: 0px;
    background-size: 90%;
    opacity: 0.3;
    background-position: 50% 20%;
    background-repeat: no-repeat;
}

header .navbar {
    border-top: 5px solid rgb(255,237,24);
    background-color: inherit;
    color: #212121;
}

header a.navbar-brand {
    color: #212121 !important;
    font-weight: bold;
}

header .navbar .title a{
    color: #212121;
    font-size: 35px;
}

section.post {
    max-height: 500px;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.padding-none {
    padding: 0;
}

@media (max-width:992px) {

    .index-page {
        padding-left: 25px;
    }
}
