@import 'Header';

body, footer {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a {
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;

  &:hover {
    text-decoration: none;
  }
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
