footer {
  border-top: 1px solid #ccc;
  margin-top: 40px;
  padding-bottom: 40px;
}

.footer {
  display: flex;
  flex-direction: row;
  & &__item {
    flex-basis: 33%;
  }

  & &__portrait {
    width: 100px;
  }

  & &__social-btn {
    font-size: 25px;
  }
}
