.post {

  & &__header-img__content {
    position: relative;
  }
  & &__header-img--black {
    background:#000;
    height: 273px;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    top:0;
  }
  .post--title {
    position: absolute;
    top: 55px;
    text-align: center;
    color: #ee7063;
    width:100%;
  }
  .post__header-wrapper {
    margin-bottom: 10px;
  }
}
