<style>
  .post__header-img {
    background: url({{ .Params.img }}) center no-repeat #000;
    height: 273px;
    width: 100%;
    position: relative;
  }
</style>
<section class='post'>
  <div class='post__header-wrapper'>
    <div class='post__header-img__content'>
      <div class='post__header-img'>
      </div>
      <div class='post__header-img--black'></div>
      <h1 class='post--title'>{{ .Title }}</h1>
    </div>
  </div>
  <div class='container'>
    <div class='col-md-10 col-md-offset-1'>
        <div>
            <p class="author">
                <span class="date padding-right">{{ .Date.Format "Mon Jan 2, 2006" }}</span>
                <span class='padding-right'><i class='icon-chat-alt'></i>&nbsp;&nbsp;<a href="{{ .Site.BaseUrl }}#disqus_thread">0</a><span>
              </a>
            </p>
            <div class="content">
              {{ .Content }}
            </div>
            <div class='tags'>
                <i class='icon-tag'></i>
                {{ range .Params.tags }}
                  &nbsp;<a href='/tags/{{ . | urlize }}'>{{ . }}</a>
                {{ end }}
            </div>
        </div>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'alfredkam'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
          }());
        </script>
         <script type="text/javascript">
             /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
             var disqus_shortname = 'alfredkam'; // required: replace example with your forum shortname
             var disqus_url = 'http://alfredkam.com/{{ .Url }}';
             /* * * DON'T EDIT BELOW THIS LINE * * */
             (function() {
                 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                 dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
             })();
         </script>
         <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
         <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  </div>
</section>
<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52fe302726d95ddf"></script>
<script type="text/javascript">
addthis.layers({
'theme' : 'transparent',
'share' : {
  'position' : 'left',
  'numPreferredServices' : 1
},
'whatsnext' : {}
});
</script>
