<footer>
  <div class='col-md-10 col-md-offset-1'>
      <div class='row'>
        <div class='col-md-4'>
          <h4>
            About
          </h4>
          <div class='row'>
            <div class='col-xs-4'>
              <img src='http://www.gravatar.com/avatar/d9b3f7a32a3bf559aad23694c73eb8cc.png' style='width:100%'></img>
            </div>
            <p class='col-xs-8'>
              Hello! I'm Alfred.  I'm an entrepenuer at heart and love to work on ideas that can impact millions.  Feel free to reach out to me!
            </p>
          </div>
        </div>
        <div class='col-xs-4'>
          <h4>
            Notable Works
          </h4>
          <p>
            <a href='http://appfuel.me'>Appfuel (Acq. by Tune)</a><br>
            <a href='http://phylo.cs.mcgill.ca'>PHYLO</a><br>
            <a href='https://github.com/alfredkam/yakojs'>Yako</a><br>
            <a href='/portfolio'>> More</a>
          </p>
        </div>
        <div class='col-sm-4'>
          <h4>
            Stalking Aids
          </h4>
          <p class='socialBtns'>
            <a href='http://github.com/alfredkam'><i class='icon-github'></i></a>
            <a href='https://twitter.com/alfredkam'><i class='icon-twitter'></i></a>
            <a href='http://www.linkedin.com/in/kamalfred'><i class='icon-linkedin'></i></a>
          </p>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-12 copyright-info'>
          Alfred Kam &#169; {{ .Now.Year }}
        </div>
      </div>
  </div>
</footer>
    {{ partial "footer-scripts.html" . }}
</html>
