<header>
    <!-- nav -->
    <nav class="navbar navbar-default" role="navigation">
        <div class='container'>
            <div>
                <div class='col-xs-6'>
                   <a class="navbar-brand" href="/">Alfred Kam</a>
                </div>
                <div id='searchComponent' class='col-xs-6'>
                </div>
            </div>
            <div class='col-xs-12'>
                <div class="navbar-header col-sm-12 title">
                    <div class='col-sm-12'>
                        <span><a href='/'>Geeking out</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div id='searchSpace'>
        </div>
    </nav>
</header>
<link rel='stylesheet' href='/css/index.css'/>