<header>
    <!-- nav -->
    <nav class="navbar navbar-default" role="navigation">
        <div class='container'>
            <div class='col-xs-1 center'>
               <a class="navbar-brand" href="/">AK</a>
            </div>
            <div class='col-xs-10'>
                <div id='searchComponent' class='col-xs-2'>
                </div>
                <div class="navbar-header col-sm-10 title">
                    <div class='col-sm-9'>
                        <span><a href='/'>Thoughts of Coding & Entrepreneurship</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div id='searchSpace'>
        </div>
    </nav>
</header>