<header>
    <!-- nav -->
    <nav class="navbar navbar-default" role="navigation">
        <div class='container'>
            <div class='col-xs-2 center'>
               <a class="navbar-brand" href="/">AK</a>
            </div>
            <div class='col-xs-8'>
                <div class="navbar-header col-sm-12 title">
                        <span><a href='/'>Geeking out</a></span>
                </div>
            </div>
           <div id='searchComponent' class='col-xs-2'>
           </div> 
        </div>
        <div id='searchSpace'>
        </div>
    </nav>
</header>